includes:
parameters:
	level: 6
	scanDirectories:
        - Ciphers
        - Conversions
        - DataStructures
        - Maths
        - Searches
        - Sorting
        - Strings
        - tests
        - Utils
    