parameters:
    level: 1
    excludePaths:
        - DataStructures
    paths:
        - Ciphers
        - Conversions
        - Maths
        - Searches
        - Sorting
        - Strings
        - Utils
        