<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="FullTest">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">tests</directory>
            <directory suffix=".php">tests</directory>
            <directory suffix=".php">Ciphers</directory>
            <directory suffix=".php">Conversions</directory>
            <directory suffix=".php">Searches</directory>
            <directory suffix=".php">Sorting</directory>
            <directory suffix=".php">Strings</directory>
            <directory suffix=".php">Utils</directory>
        </whitelist>
  </filter>
  <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
    <include>
        <directory suffix=".php">tests</directory>
        <directory suffix=".php">Ciphers</directory>
        <directory suffix=".php">Conversions</directory>
        <directory suffix=".php">Searches</directory>
        <directory suffix=".php">Sorting</directory>
        <directory suffix=".php">Strings</directory>
        <directory suffix=".php">Utils</directory>
    </include>
    <report>
        <clover outputFile="coverage.xml" />
    </report>
  </coverage>
</phpunit>
