<phpunit bootstrap="src/autoload.php">
  <testsuites>
    <testsuite name="FullTest">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">tests</directory>
        </whitelist>
  </filter>
  <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
    <include>
        <directory suffix=".php">tests</directory>
    </include>
    <report>
        <clover outputFile="coverage.xml" />
    </report>
  </coverage>
</phpunit>